#register,
#login {
	display: inline-block;
	border: 1px solid black;
	padding: .5em .5em;
	vertical-align: top;
}
.error {
	color: red;
}
#book-head p,
#book-head a {
	display: inline-block;
}
#book-head #logout {
	margin-left: .5em;
}
#book-head a {
	margin-left: 55%;
}
#add-head,
#add-author {
	list-style-type: none;
}
#add-head {
	margin-left: 55%;
}
#add-head li {
	display: inline;
}